<div class="container">
    <div class="row" style="height: 20px;" >
      
    </div>
    <div class="row" *ngIf="channelType">
      <h3>
        Edit 
      </h3>
    </div>
    <div class="row">
  <div class="container" *ngIf="channelType === 'Voice'">
    <form [formGroup]="voiceForm"  (ngSubmit)="storeToLocalStorage()">
          <div class="form-group">
            <label>Description: </label>
            <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && v.description.errors }" />
            <div *ngIf="submitted && v.description.errors" class="invalid-feedback">
                <div *ngIf="v.description.errors.required">Description is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Phone Number:</label>
            <input type="text" formControlName="pNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && v.pNumber.errors }" />
            <div *ngIf="submitted && v.pNumber.errors" class="invalid-feedback">
              <div *ngIf="v.pNumber.errors.required">Mobile Number is required.</div>
              <div *ngIf="v.pNumber.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Expect to hear:</label>
            <input type="text" formControlName="expect" class="form-control" [ngClass]="{ 'is-invalid': submitted && v.expect.errors }" />
            <div *ngIf="submitted && v.expect.errors" class="invalid-feedback">
                <div *ngIf="v.expect.errors.required">Expect to hear is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Reply:</label>
            <input type="text" formControlName="reply" class="form-control" [ngClass]="{ 'is-invalid': submitted && v.reply.errors }" />
            <div *ngIf="submitted && v.reply.errors" class="invalid-feedback">
                <div *ngIf="v.reply.errors.required">Reply is required.</div>
            </div>
          </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Save</button>
         </div> 
    </form>
  </div>
  
  <div class="container" *ngIf="channelType === 'Web'">
    <form [formGroup]="webForm"  (ngSubmit)="storeToLocalStorage()">
          <div class="form-group">
            <label>Description: </label>
            <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && w.description.errors }" />
            <div *ngIf="submitted && w.description.errors" class="invalid-feedback">
                <div *ngIf="w.description.errors.required">Description is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>URL: </label>
            <input type="text" formControlName="url" class="form-control" [ngClass]="{ 'is-invalid': submitted && w.url.errors }" />
            <div *ngIf="submitted && w.url.errors" class="invalid-feedback">
                <div *ngIf="w.url.errors.required">url is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Expect: </label>
            <input type="text" formControlName="expect" class="form-control" [ngClass]="{ 'is-invalid': submitted && w.expect.errors }" />
            <div *ngIf="submitted && w.expect.errors" class="invalid-feedback">
                <div *ngIf="w.expect.errors.required">Expect is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Reply: </label>
            <input type="text" formControlName="reply" class="form-control" [ngClass]="{ 'is-invalid': submitted && w.reply.errors }" />
            <div *ngIf="submitted && w.reply.errors" class="invalid-feedback">
                <div *ngIf="w.reply.errors.required">Reply is required</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Save</button>
           </div> 
    </form>
  </div>
  
  <div class="container" *ngIf="channelType === 'Email'">
    
    <form [formGroup]="emailForm" (ngSubmit)="storeToLocalStorage()">
      <div class="form-group">
        <label>Description: </label>
        <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && e.description.errors }" />
        <div *ngIf="submitted && e.description.errors" class="invalid-feedback">
            <div *ngIf="e.description.errors.required">Description is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email Address: </label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && e.email.errors }" />
        <div *ngIf="submitted && e.email.errors" class="invalid-feedback">
            <div *ngIf="e.email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Subject: </label>
        <input type="text" formControlName="subject" class="form-control" [ngClass]="{ 'is-invalid': submitted && e.subject.errors }" />
        <div *ngIf="submitted && e.subject.errors" class="invalid-feedback">
            <div *ngIf="e.subject.errors.required">Subject is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Body: </label>
        <input type="text" formControlName="body" class="form-control" [ngClass]="{ 'is-invalid': submitted && e.body.errors }" />
        <div *ngIf="submitted && e.body.errors" class="invalid-feedback">
            <div *ngIf="e.body.errors.required">Body is required</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Save</button>
       </div> 
    </form>
  </div>
  
  <div class="container" *ngIf="channelType === 'SMS'">
    <form [formGroup]="smForm" (ngSubmit)="storeToLocalStorage()">
      <div class="form-group">
        <label>Description: </label>
        <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && e.description.errors }" />
        <div *ngIf="submitted && e.description.errors" class="invalid-feedback">
            <div *ngIf="e.description.errors.required">Description is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Phone Number: </label>
        <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && e.phoneNumber.errors }" />
        <div *ngIf="submitted && e.phoneNumber.errors" class="invalid-feedback">
            <div *ngIf="e.phoneNumber.errors.required">Phone Number is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Expect: </label>
        <input type="text" formControlName="expect" class="form-control" [ngClass]="{ 'is-invalid': submitted && e.expect.errors }" />
        <div *ngIf="submitted && e.expect.errors" class="invalid-feedback">
            <div *ngIf="e.expect.errors.required">Expect is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Reply: </label>
        <input type="text" formControlName="reply" class="form-control" [ngClass]="{ 'is-invalid': submitted && e.reply.errors }" />
        <div *ngIf="submitted && e.reply.errors" class="invalid-feedback">
            <div *ngIf="e.reply.errors.required">Reply is required</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Save</button>
       </div> 
    </form>
  </div>
  
    </div>
  </div>
  